@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

* a {
    text-decoration: none;
    color: black;
}

* a:hover {
    text-decoration: none;
    color: black;
}

/* h1 {
    margin: 3% 0%;
}  */

body {
    background: #E5E5E5;
}

.header {
    position: fixed;
}

header {
    text-align: center;
    background: #FCA311;
}

nav {
    text-align: center;
    background: #162c5c;
    padding: 0.1px;
    color: black;
    font-size: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
    padding: 5px;
    background: #FCA311;
}

/* nav a {
    text-decoration: none;
    color: #162c5c;
}

header a {
    text-decoration: none;
    color: black;
}
header a:hover {
    text-decoration: none;
    color: black;
} */

.description {
    text-align: center;
    color: black;
}

#socials {
    width: 40%;
    color: #162c5c;
    padding: 2% 5%;
    background: #FCA311;
}

/* #socials a {
    text-decoration: none;
    color: black;
}

#socials a:hover {
    text-decoration: none;
    color: black;
} */

.aboutme {
    background: #FCA311;
    color: black;
    padding: 2%;
    margin: 21.44px 0px;
    width: 45%;
}

footer {
    background: #ccc;
    color: #162c5c;
    margin: 20px 0px;
    padding: 5px 10px;
}

#footnotes {
    background: #E5E5E5;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* .center {
    float: center;
    width: 70%;
    margin: 1px 10%;
    padding: 1px 5%;
} */

.clear {
    clear: both;
}